.bottom_space{
  height: 25px;
}
.top_area{
  height: 60px;
}
#delete_box{
  width: 100%;
}
#login_area{
  height: 400px;
}
#login_msg_box{
  width: 100%;
}
.top_area{
  height: 100px;
}
.space{
  height: 30px;
}
.top_space{
  height: 60px;
}
